<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <title>{% block title %}{% end %}</title>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        {% block meta %}
            <meta name="description" content="">
            <meta name="author" content="">
        {% end %}
        <link rel="stylesheet" type="text/css" href='static/css/vendor/bootstrap.min.css' />
        <link rel="stylesheet" type="text/css" href='static/css/vendor/helper.css' />
        <link rel="stylesheet" type="text/css" href='static/css/span-fix.css' />
        <link rel="stylesheet" type="text/css" href='static/css/main.css' />
        <link rel="stylesheet" type="text/css" href='static/css/spinner.css' />
        <link rel="stylesheet" type="text/css" href='static/css/vendor/font-awesome.min.css' />
        <link rel="stylesheet" type="text/css" href='static/css/admin.css' />
        <link rel="stylesheet" type="text/css" href='static/css/skin-blue.css' />

        {% block css %}
        {% end %}
    </head>

    <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

      <!-- Main Header -->
      <header class="main-header">

        <!-- Logo -->
        <a href="/" class="logo">
          <span class="logo-lg"><b>Horus</b></span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <!-- Navbar Right Menu -->
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
            </ul>
          </div>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar Menu -->
          <ul class="sidebar-menu">
            <!-- Optionally, you can add icons to the links -->
            <li class="active"><a href="/dashboard"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
            <li><a href="/about"><i class="fa fa-anchor"></i> <span>About</span></a></li>
          </ul><!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
      </aside>
      <!-- Page content -->
      <div class="content-wrapper">
        <section class="content">
				{% block body %}
				{% end %}
        </section>
	  </div>
    </div>
    <script type="text/javascript" src='static/js/vendor/jquery.min.js'></script>
    <script type="text/javascript" src='static/js/vendor/bootstrap.min.js'></script>
    <script type="text/javascript" src='static/js/app.min.js'></script>
    <script type="text/javascript" src='static/js/main.js'></script>
    <script>
        // Function to activate overlay and spinner
        function addOverlay(selector) {
            var div = $(selector);
            // Get all the position related stuff
            pos = $.extend({
            width: div.outerWidth(true), // true to include margin
            height: div.outerHeight(true)
            }, div.position());
            // Add overlay
            var overlayDiv = $('<div>', {
                class: 'overlay',
                css: {
                    position: 'absolute',
                    top: pos.top,
                    left: pos.left,
                    width: pos.width,
                    height: pos.height,
                    backgroundColor: '#FFFFFF',
                    opacity: 0.50
                }
            });
            var spinnerDiv = $('<div class="three-quarters"></div>');
            overlayDiv.appendTo(div);
            spinnerDiv.appendTo(overlayDiv);
            spinnerDiv.css({
                top: overlayDiv.height()/2 - spinnerDiv.height()/2 ,
                left: overlayDiv.width()/2 - spinnerDiv.width()/2
            });
        }

        // Function to remove overlay & spinner
        function removeOverlay(selector) {
            $(selector+'.overlay').remove();
        }
    </script>

    {% block js %}
    {% end %}

    </body>
</html>
