{%extends "base.html"%}

{%block title%}Dashboard{%endblock%}

{%block body%}
    <div class="row">
        <div class="">
            <h1 class="page-header" style='text-align: center;'><b>Dashboard</b></h1>
        </div>
    
        <div class="col-md-6 row">
            <div class="panel panel-default">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <div class="list-group">
                        <p><span class="label label-primary">Name</span>{{ name }}</p>
                        <p><span class="label label-primary">Size</span>{{ size }}</p>
                        <p><span class="label label-primary">MD5</span>{{ md5 }}</p>
                        <p><span class="label label-primary">SHA1</span>{{ sha1 }}</p>
                        <p><span class="label label-primary">SHA256</span>{{ sha256 }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock%}

