{%extends "base.html"%}

{%block title%}Dashboard{%endblock%}

{%block body%}
    <div class="row">
        <div class="">
            <h1 style='text-align: center;'>Dashboard</h1>
        </div>

    <div class="row">
        <div class="container">
            <table id="all_apps" class="table">
                <thead>
                    <tr>
                        <th> APK </th>
                        <th> View </th>
                    </tr>
                </thead>
                <tbody>
                    {% for app in apps %}
                    <tr>
                        <th> {{app}} </th>
                        <th> <a href="/dashboard/{{app}}"><button class="btn btn-info">View</button></a></th>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
{%endblock%}

{%block js%}
{%endblock%}
