{%extends "base.html"%}

{%block title%}Dashboard{%endblock%}

{%block body%}
    <div class="row">
        <div class="">
            <h1 class="page-header" style='text-align: center;'><b>Dashboard</b></h1>
        </div>

    <div class="row">
        <div class="col-md-8">
            <table id="all_apps" class="table">
            </table>
        </div>

        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Bar Graph with Tooltips</h3>
                </div>
                <div class="panel-body">
                <div class="flot-chart">
                    <div class="flot-chart-content" id="flot-chart-bar">
                        <img src='https://upload.wikimedia.org/wikipedia/commons/5/55/Composition_of_38th_Parliament.png' height="200" width="200" />
                    </div>
                </div>
                <div class="text-right">
                    <a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a>
                </div>
                </div>
            </div>
        </div>
    </div>
{%endblock%}

{%block js%}
<script>
function allApps() {
    $.getJSON('/api/apps', function(data) {
        $('#all_apps').DataTable({
             data: data,
             columns: [
                { title: "Apk" },
             ]
        });
    });
}

$(document).ready(allApps);
</script>
{%endblock%}
