{% extends 'base.html' %}

{% block body %}
    <h3 id="report_head"></h3>
    
    <div class="row" style="text-align: center;">
        <button class="btn btn-info">Static Analysis</button>
        <button class="btn btn-success">Dynamic Analysis</button>
    </div>
    <hr/>

    <div id="report-body">

    </div>
{% endblock %}

{% block js %}
<script>
console.log(document.URL)
var list = document.URL.split("/");
var app = list[list.length-1];

function populate(d) {
    console.log(d);
    $('#report_head').text('Target APK: '+d.name);
    $.each(d.files, function(id, obj) {
        $('#report-body').append(d.files[id]+'\n');
    });
    $('#name').append(' '+ d.name);
    $('#size').append(' '+d.size+' MB');
    $('#md5').append(' '+d.hashes["md5"]);
    $('#sha1').append(' '+d.hashes["sha1"]);
    $('#sha256').append(' '+d.hashes["sha256"]);
}

function getData() {
    addOverlay('#report-body');
    $.getJSON('/api/scan/'+app+'.apk', function(data) {
        removeOverlay('#report-body');
        populate(data);
    })
}

$(document).ready(
    getData
);
</script>
{% endblock %}
