{% extends 'base.html' %}

{% block body %}
    <h3 id="report_head"></h3>
    
    <div class="row" style="text-align: center;">
        <button class="btn btn-info">Static Analysis</button>
        <button class="btn btn-success">Dynamic Analysis</button>
    </div>
    <hr/>

    <div id="report-body">
        <div class="panel-group">
            <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">
                <a data-toggle="collapse" href="#filelist">Files</a>
                </h4>
            </div>
            <div id="filelist" class="panel-collapse collapse">
                <div class="panel-body"><pre id="filelist-body"></pre></div>
                <div class="panel-footer"></div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script>
console.log(document.URL)
var list = document.URL.split("/");
var app = list[list.length-2];
var status = list[list.length-1].indexOf("True")


function populate(d) {
    console.log('removing overlay');
    $('.overlay').remove();
    $('#report_head').text('Target APK: '+d.name);
    $.each(d.files, function(id, obj) {
        $('#filelist-body').append(d.files[id]+'\n');
    });
}

function getData() {
    addOverlay('#report-body');
    if (status > -1) {
        //fetch the results from the DB
        $.getJSON('/api/fetch/'+app, function(data) {
            populate(data);
        })
    } else {
        $.getJSON('/api/scan/'+app+'.apk', function(data) {
            populate(data);
        })
    }
}

$( document ).ready(getData);
</script>
{% endblock %}
